.voronoi {
	width: 100vw;
	height: 100vh;

	--voronoi-number-of-cells: 20;
	--voronoi-dot-color: #000;

	background-image: paint(voronoi);
	transition: --voronoi-margin 0.5s ease-in-out;

	cursor: pointer; /* to hint that it's clickable */
	-webkit-user-select: none;
}

.voronoi:active {
	--voronoi-margin: -50%;
}

@media(min-width: 70em) {
	.voronoi {
		--voronoi-number-of-cells: 70;
	}
}

@media(min-width: 100em) {
	.voronoi {
		--voronoi-number-of-cells: 100;
	}
}

@property --voronoi-number-of-cells {
	syntax: '<integer>';
	initial-value: 25;
	inherits: false;
}
@property --voronoi-margin {
	syntax: '<percentage>';
	initial-value: 0%;
	inherits: false;
}
@property --voronoi-line-color {
	syntax: '<color>';
	initial-value: #000;
	inherits: false;
}
@property --voronoi-line-width {
	syntax: '<integer>';
	initial-value: 1;
	inherits: false;
}
@property --voronoi-dot-color {
	syntax: '<color>';
	initial-value: transparent;
	inherits: false;
}
@property --voronoi-dot-size {
	syntax: '<integer>';
	initial-value: 2;
	inherits: false;
}
/* @property --voronoi-cell-colors {
	syntax: '<color>#';
	initial-value: #66ccff, #99ffcc, #00ffcc, #33ccff, #99ff99, #66ff99, #00ffff;
	inherits: false;
} */
@property --voronoi-seed {
  syntax: '<number>';
  initial-value: 123456;
  inherits: true;
}









/** non-essential demo styles below **/

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

div {
	display: grid;
	place-items: center;
	font-size: calc(4vw + 1em);
	padding: 5vw;
	text-transform: uppercase;
}
